.profile-edit-modal {
  width: 30rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.profile-edit-modal-inp {
  padding: 0.625rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--gray-shade5);
}

.profile-edit-modal-inp-label {
  font-size: 0.9rem;
}

@media screen and (max-width: 1100px) {
  input[type="text"] {
    font-size: 1rem;
  }

  textarea[type="text"] {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  ::placeholder {
    font-size: 0.85rem;
  }

  input[type="text"] {
    font-size: 0.9rem;
  }

  textarea[type="text"] {
    font-size: 0.9rem;
  }
}