.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.justify-cont-center {
  justify-content: center;
}

.profile-page-container {
  padding: 2rem;
}

.user-profile-middle-container {
  width: 43%;
}

.profile-card {
  width: 38rem;
}

.profile-para-text {
  font-size: 0.9rem;
}

.mb-small {
  margin-bottom: 0.5rem;
}

.select-img-icon {
  position: absolute;
  bottom: 0.2rem;
  left: 4.2rem;
  font-size: 1.2rem;
  color: var(--custom-dark-clr);
}

.object-fit-cover {
  object-fit: cover;
}

.portfolio-url-dark-clr {
  color: var(--sky-blue);
}

.f-weight-700 {
  font-weight: 700;
}

.follow-count {
  font-size: 0.92rem;
}

.dark-theme-select-img-icon {
  color: var(--dark-pink-clr);
}

.float-btn-restyle {
  background-color: var(--gray-shade4);
}

.follow-btn-solid {
  background-color: var(--custom-dark-clr);
  border-radius: 20px;
}

@media screen and (max-width: 960px) {
  .profile-card {
    width: 32rem;
  }
}

@media screen and (max-width: 900px) {
  .responsive-gap {
    gap: 3rem;
  }
}

@media screen and (max-width: 860px) {
  .responsive-gap {
    gap: 2rem;
  }
}

@media screen and (max-width: 810px) {
  .profile-card {
    width: 34rem;
  }

  .responsive-gap {
    gap: 5rem;
  }
}

@media screen and (max-width: 740px) {
  .profile-card {
    width: 30rem;
  }
}

@media screen and (max-width: 700px) {
  .profile-card {
    width: 38rem;
  }
}

@media screen and (max-width: 620px) {
  .profile-card {
    width: 32rem;
  }
}

@media screen and (max-width: 560px) {
  .profile-card {
    width: 42rem;
  }
}

@media screen and (max-width: 370px) {
  .profile-card {
    width: 36rem;
  }
}

@media screen and (max-width: 310px) {
  .profile-card {
    width: 30rem;
  }
}

@media screen and (max-width: 270px) {
  .profile-card {
    width: 28rem;
  }
}
