.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.justify-cont-center {
  justify-content: center;
}

.profile-page-container {
  padding: 2rem;
}

.user-profile-middle-container {
  width: 43%;
}

.profile-card {
  width: 30rem;
}

.profile-para-text {
  font-size: 0.9rem;
}

.mb-small {
  margin-bottom: 0.5rem;
}

.select-img-icon {
  position: absolute;
  bottom: 0.2rem;
  left: 4.2rem;
  font-size: 1.2rem;
  color: var(--custom-dark-clr);
}

.object-fit-cover{
  object-fit: cover;
}