.follow-unfollow-container {
  background-color: var(--social-light-bg-clr);
  width: 22rem;
  height: max-content;
  padding: 1rem;
  border-radius: 8px;
}

.border-none {
  border: none;
}

.follow-list-container {
  width: 100%;
}

.justify-cont-between {
  justify-content: space-between;
}

.follow-btn-link {
  color: var(--info-dark-clr);
}

@media screen and (max-width: 960px) {
  .follow-unfollow-container {
    width: 19rem;
    padding: 0.8rem;
  }

  .follow-container-title {
    margin-left: 0.5rem;
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 560px) {
  .follow-unfollow-container {
    width: 21rem;
    position: absolute;
    background-color: var(--light-clr);
    z-index: 3;
    right: 0;
    border: 1px solid var(--gray-shade5);
  }
}
