.comment-content-container {
  background-color: #f2f2f2;
  padding: 0.8rem;
  border-radius: 0rem 1rem 1rem 1rem;
}

.gap-small {
  gap: 0.5rem;
}

.comment-icon-container {
  margin: 10px 20px 0;
}

.comment-like-icon {
  margin-right: 12px;
}
