.navbar-container {
  background-color: var(--light-bg-clr);
  height: 4rem;
  border-bottom: 1px solid var(--custom-pri-clr);
}

.nav-custom-sty {
  color: var(--custom-sec-clr);
  font-size: 1rem;
}

.font-clr {
  color: var(--custom-sec-clr);
}

.btn-custom-sty {
  background-color: var(--custom-sec-clr);
}

@media screen and (max-width: 960px) {
  .nav-input-container{
    width: 40%;
  }
}

@media screen and (max-width: 940px) {
  .nav-title-container{
    width: 14rem;
  }
}

@media screen and (max-width: 810px) {
  .nav-title-container{
    width: 14rem;
  }
}