.landingpage-main-container {
  height: 89vh;
}

.landingpage-content-container {
  width: 40%;
}

.landingpage-content {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.camera-icon {
  font-size: 12rem;
  color: var(--dark-pink-clr);
}
