.create-note-container {
  width: 38rem;
  border: 1px solid var(--gray-shade5);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--social-light-bg-clr);
}

.title-inp-container {
  justify-content: space-between;
  align-items: center;
}

.note-title-inp {
  width: 95%;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.create-note-textarea {
  width: 95%;
  resize: none;
  height: max-content;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 0.9rem;
}

.note-footer {
  justify-content: space-between;
  align-items: center;
}

.create-note-footer-icons-container {
  width: 7rem;
}

.note-priority-dropdown {
  border: 1px solid var(--gray-shade5);
  outline: none;
  width: 4.5rem;
  border-radius: 3px;
}

.note-label-priority-container {
  width: 6rem;
}

.create-note-btn-container {
  width: 8.5rem;
}

.pri-outline-btn {
  background-color: var(--light-clr);
  color: var(--custom-sec-clr);
  border: 1px solid var(--custom-sec-clr);
}

.pri-outline-btn:hover {
  background-color: var(--custom-sec-clr);
  color: var(--light-clr);
}

.btn-small-size {
  padding: 0.5rem 0.7rem;
}

.pri-btn-style {
  background-color: var(--note-pri-clr);
  padding: 0.7rem;
  outline: none;
}

.create-post-input {
  border: 1px solid var(--gray-shade5);
  border-radius: 21px;
}

.small-gap {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-4 {
  gap: 4rem;
}

.justify-cont-right {
  justify-content: right;
}

.btn-custom-small {
  padding: 0.45rem 0.75rem;
  outline: none;
  font-size: 0.9rem;
}

.border-none {
  border: none;
}

.ml-small {
  margin-left: 0.5rem;
}

.dark-theme-bg-clr {
  background-color: var(--social-light-bg-clr);
  color: var(--light-bg-clr);
}

.white-bg-clr {
  background-color: var(--light-bg-clr);
}

.border-gray3-dark {
  border: 1px solid var(--gray-shade3);
}

.border-gray4-dark {
  border: 1px solid var(--gray-shade4);
}

.dark-theme-bg-clr::placeholder {
  color: var(--gray-shade5);
}

.border-white {
  border: 1px solid var(--custom-pri-clr);
}

.dark-bg-light {
  background-color: var(--social-bg-clr);
}

.white-clr {
  color: var(--light-bg-clr);
}

@media screen and (max-width: 960px) {
  .create-note-container {
    width: 32rem;
  }
}

@media screen and (max-width: 900px) {
  .responsive-gap {
    gap: 3rem;
  }
}

@media screen and (max-width: 860px) {
  .responsive-gap {
    gap: 2rem;
  }
}

@media screen and (max-width: 810px) {
  .create-note-container {
    width: 34rem;
  }

  .responsive-gap {
    gap: 5rem;
  }
}

@media screen and (max-width: 740px) {
  .create-note-container {
    width: 30rem;
  }
}

@media screen and (max-width: 700px) {
  .create-note-container {
    width: 38rem;
  }
}

@media screen and (max-width: 620px) {
  .create-note-container {
    width: 32rem;
  }
}

@media screen and (max-width: 560px) {
  .create-note-container {
    width: 42rem;
  }
}

@media screen and (max-width: 370px) {
  .create-note-container {
    width: 36rem;
  }
}

@media screen and (max-width: 310px) {
  .create-note-container {
    width: 30rem;
  }
}

@media screen and (max-width: 270px) {
  .create-note-container {
    width: 28rem;
  }
}
